./storage
**/__pycache__
**/data
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

/.vscode/
*.lock.hcl
*.pem
*.rsa
*.rsa.*
.vscode
*.log
*.box
*.pem
*.vdi
*.vmdk
__pycache__
myvenv/
fletenv/
**/*env